@font-face {
    font-family: 'MyFont';
    src: url('LibreBaskerville-Regular.ttf') format('truetype');
}
body {
    font-size: 1.1em; 
    font-family: 'MyFont';
    display: flex;
    flex-direction: column;
    background-color: #FF66C4; 
}
h1 {
    padding-top: 0.5em;
    font-family: 'MyFont', serif;
    font-size: 8em;
    margin-bottom: 1em;
    text-align: center;
}
h2 {
    padding: 0em;
    margin-top: 0;
    font-size: 3em;
    font-family: 'MyFont';
    margin-bottom: 0.7em;
    text-align: center;
}
p {
    text-align: center;
}
ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
    display: flex; 
}
li {
    margin-right: 5em; 
    margin-left: 5em;
}
.container{
    display: flex; 
    justify-content: flex-end;
}
a {
    color: black;
    font-size: 1.5em;
}
.spacer {
    height: 22em;
}
.moyenspace {
    height: 7em;
}
.petitspace {
    height: 2em;
}
.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    box-sizing: border-box;
}
.left {
    margin-right: 2em;
    margin-left: 2em;
    font-family: 'MyFont';
    font-size: 1.5em;
}
.left h2{
    font-size: 2em;
}
.right {
   font-family: 'MyFont';
    margin-left: 0;
}
@media (max-width: 768px) {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 1.7em;
    }
    .columns {
        grid-template-columns: 1fr;
    }
    .left, .right{
        margin: 0;
        padding: 1em;
        font-size: 1em;
    }
    .spacer {
        height: 12em;
    }
    .moyenspace {
        height: 1.5em;
    }
    a {
        font-size: 1em;
    }
    img {
        width: 100%;
        height: auto;
    }
}

footer {
    background-color: #FF66C4; 
    color: black;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
