@font-face {
    font-family: 'MyFont';
    src: url(LibreBaskervill-Regular.ttf) format('ttf');
}
body {
    font-family: 'MyFont';
    margin: 0;
    padding: 0;
    background-color: #efaa0f4; 
}

header {
    background-color: #faa0f4 
    color: black;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

main {
    font-family: 'MyFont;
    font-size: large;
    text-align: center;
    padding: 2rem;
}

footer {
    background-color: #faa0f4; 
    color: black;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
