@font-face {
    font-family: 'MyFont';
    src: url('publications/publi/LibreBaskerville-Regular.ttf') format('truetype');
}
body {
    margin: 0;
    padding: 0;
    background-color: #FF66C4; 
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments horizontalement */
}
h1 {
    font-family: 'MyFont';
    font-size: 4em;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 1em;
    border: 1px solid #000;
    width: 80%;
    max-width: 600px;
    box-sizing: border-box;
}
footer {
    background-color: #FF66C4; 
    color: black;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px) {
    h1 {
        font-size: 3em;
        margin-bottom: 1.5em;
    }
    .columns {
        grid-template-columns: 1fr;
        gap: 1.5em;
        padding: 0;
    }
    .column {
        margin: 0;
        padding: 0;
    }
    .moyenspace {
        height: 1.5em;
    }
    img {
        width: 100%;
        height: auto;
    }
}
